.container {
  padding: 0 2rem;
 
}

.main {
 
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.grid {
  display: flex;
  
  justify-content: center;
  row-gap: 1rem;
  .card {
     
    
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius:10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    list-style: none;
    img{
      height:50px;
      width:50px;
    }
    span {
      margin-left: 1rem;
    }
    .commentInfo{
      display: flex;
      width: 10rem;
      justify-content: space-evenly
    }
  }
}
.searchField {

  display: flex;
  flex-direction: column;
   .searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
      
   }
   .inputs {
     border-radius: 2rem;
     height:50px;
    
     border: 1px solid blue;
     text-align: center;
   }
   
   .button {
     height:50px;
     border-radius: 30px;
     width:9rem;
    border: 1px solid blue;
    background-color: white;
    color: blue;
     
     cursor: pointer;
   }
 }
@media (min-width:45rem) {
.grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  row-gap: 1rem;
}
.searchField {
 display: flex;
 justify-content: center;
  .searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .inputs {
    border-radius: 2rem;
    height:50px;
    margin: 1rem;
    border: 1px solid blue;
    text-align: center;
  }
  
  .button {
    height:50px;
    border-radius: 30px;
    width:9rem;
   border: 1px solid blue;
   background-color: white;
   color: blue;
    margin: 2rem 8rem;
    cursor: pointer;
  }

}

.card {
  margin: 1rem ;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius:10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  list-style: none;
  img{
    height:50px;
    width:50px;
  }
  span {
    margin-left: 1rem;
  }
  .commentInfo{
    display: flex;
    width: 10rem;
    justify-content: space-evenly
  }
}

}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

